In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statistics

In [2]:
df = pd.read_csv("\\Users\\aftermath\\Documents\\Machine Learning\\Visit-Nominal.csv",header=None, skipinitialspace=True)
attrs = []
for attr in range(7):
    attrs.append(df.at[0,attr])

dfnew = pd.read_csv("\\Users\\aftermath\\Documents\\Machine Learning\\Visit-Nominal.csv",header=None, skipinitialspace=True, skiprows = 1)
dfnew.columns = attrs

dfnew.head()

  Home Browsed Searched Prod_A Prod_B Prod_C Visit_Again
0  yes      no       no     no     no     no          no
1  yes     yes      yes     no     no     no          no
2  yes      no       no     no     no     no          no
3  yes     yes      yes    yes     no     no         yes
4  yes      no      yes    yes    yes     no         yes

In [6]:
dfyes =  dfnew[~dfnew.Visit_Again.str.contains("no")]
dfyes.describe()

       Home Browsed Searched Prod_A Prod_B Prod_C Visit_Again
count    39      39       39     39     39     39          39
unique    2       2        2      2      2      2           1
top     yes     yes       no    yes     no     no         yes
freq     23      27       24     25     20     22          39

In [7]:
dfno =  dfnew[~dfnew.Visit_Again.str.contains("yes")]
dfno.describe()

       Home Browsed Searched Prod_A Prod_B Prod_C Visit_Again
count    61      61       61     61     61     61          61
unique    2       2        2      2      2      2           1
top     yes     yes       no     no    yes     no          no
freq     37      45       33     33     36     33          61